body {
    font-family: Arial, sans-serif;
    background-color: #f4f1e9;
    margin: 0;
    color: #333;
  }
  
  header {
    background-color: #556b2f;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }
  
  section {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }
  
  h2 {
    color: #556b2f;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #556b2f;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6b8e23;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
  }

  nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #556b2f;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

  